<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Host Discovery</title>

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/simplebar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/feather.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/app-dark.css') }}" id="darkTheme">
</head>
<body class="horizontal dark">
<div class="wrapper">
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">

                    <h1 class="text-center">
                       Host Discovery Results
                    </h1>

                    <br>

                    <div class="card mb-4">
                        <div class="card">
                            <div class="card-header">
                                Hosts
                            </div>
                            <div class="card-body">
                                <table class="table table-striped table-bordered" id="results-table-id" width="100%">
                                    <thead>
                                    <tr>
                                        <th>IP</th>
                                        <th>Mac</th>
                                        <th>OS</th>
                                        <th>Created</th>
                                        <th>Ports</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for host in hosts %}
                                        <tr>
                                            <td>{{host.1}}</td>
                                            <td>{{host.2}}</td>
                                            <td>{{host.3}}</td>
                                            <td>{{host.4}}</td>
                                            <td><a href="/hosts/{{host.0}}/ports" class="btn mb-2 btn-dark">Open Ports</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- simple table -->
                    
                </div>
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
    </main> <!-- main -->
</div> <!-- .wrapper -->
</body>
</html>